body {
background-image: linear-gradient(-90deg, #D8BFD8, white);
min-height:100%;
width: 700px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
}

div{
  background: #E6E6FA;
  border-style: ridge;
  border-width: 7px;
  border-color: purple;
}

h1 {
  color: white;
  text-align: center;
  padding:15px 20px;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

input{
    background: white;
    color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    height:40px ;
    font-size: 15px;
    font-weight: 3px;
    margin-top: 20px;
    width: 500px;
    padding: center;
    margin-left: 100px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

ul{
  color: white;
  margin: 0;
  padding: 0;
}

ul li:nth-child(odd) {
  background: #DA70D6;
}

ul li:hover {
  background: #696969;
}

ul li {
   padding: 10px 10px 12px 20px;
   background: #BA55D3;
   font-size: 18px;
   transition: 0.2s;
   cursor: pointer;
   position: relative;
   list-style-type: none;
   text-decoration: line-through;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.material-icons {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 12px 20px;
}
